article {
  padding: 1rem;
  color: #25113d;
  background-color: #4675dc;
}

h2 {
  margin: 0;
}

time {
  color: #008dc9;
}

.actions {
  text-align: right;
  margin: 0;
}

.actions button {
  font: inherit;
  font-size: 0.9rem;
  cursor: pointer;
  background-color: linear-gradient(
    to bottom,
     #380774,
      #0260f7
      );
  color: #4cbdff;
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.actions button:hover,
.actions button:active {
  background-color: #040055;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}